<h1>Help</h1>
We are currently missing details for these missions...<p>
<h2>No help needed at the moment! yay :></h2>

If you have these quests unlocked please go to the <%= link_to "Soul Sacrifice Wikia", "soulsacrifice.wikia.com/‎" %> or send me an <a href="mailto:fodderspam@foulweather.net">email</a>.