<h2>Build notes 0.1.3 | 2013-05-27</h2>
<p>
Improved search result display - User will no longer be shown 'empty' information. For example, previously if the Hunt's objective had no weakness you would see "Weakness: ". Now this field will be hidden from view.<br />
Changed the table stylings.<br /><br />

Fixed a bug with the databse showing results more than once. (Thanks Frigaku on GameFaqs)<br />
</p>
Hotfix: Added Colorz!

<h2>Build notes 0.1.2 | 2013-05-26</h2>
<p>
Removed searches by "Monster Name" (e.g. Harpy, Jack-O'-Lantern, etc) but instead  enabled searching for soul essences found within a mission. Please note that these are without the "Life Essence" and "Soul Sessence" prefixes as well as the "+" and "++" suffixes. These may be added in the future when information is more available.<br /><br />

Added contact information for Twitter.<br />
Added various community links: <%= link_to "Reddit", "http://redd.it/1exvqk"%>, <%= link_to "GameFaqs", "http://www.gamefaqs.com/boards/668738-soul-sacrifice" %> and T<%= link_to "Soul Sacrifice Wikia", "soulsacrifice.wikia.com/‎" %>.
</p>

<h2>Build notes: 0.1.1 | 2013-05-25</h2>
<p>
Added information on Souls you can obtain from a mission. Unfortunetly they are unavailable via searches until further notice<br />
Added new searchable parameters:<br />
  <ul>
  	<li>You may search for Main Quest Bosses by their NAME.</li>
  	<li>You may now search for the loot obtained by breaking monster parts by NAME.</li>
  </ul>
Added information for Avalon and Forgotten Pact missions:<br />
  <ul>
  	<li>IX. Penitence</li>
  	<li>X. Recursion</li>
  	<li>Hour of Auburn</li>
  	<li>Hour of Zalfire</li>
  </ul>
</p>

<h2>Build notes: 0.1.0 | 2013-05-25</h2>
<p>
Public Release<br />
</p>