<h2>Build notes: 0.1.1 | 2013-05-25</h2>
<p>
Added information on Souls you can obtain from a mission. Unfortunetly they are unavailable via searches until further notice<br />
Added new searchable parameters:<br />
  <ul>
  	<li>You may search for Main Quest Bosses by their NAME.</li>
  	<li>You may now search for the loot obtained by breaking monster parts by NAME.</li>
  </ul>
Added information for Avalon and Forgotten Pact missions:<br />
  <ul>
  	<li>IX. Penitence</li>
  	<li>X. Recursion</li>
  	<li>Hour of Auburn</li>
  	<li>Hour of Zalfire</li>
  </ul>
</p>

<h2>Build notes: 0.1.0 | 2013-05-25</h2>
<p>
Public Release<br />
</p>