<h2>build notes: May 23, 2013</h2>
<p>
Published unfinished Offering search table.<br />
Known Issues:
  <ul>
	<li>Missing Avalon Pact: Mission 9</li>
	<li>Missing Avalon Pact: Mission 10</li>
	<li>Missing Forgotten Pact: Hour of Zalfire</li>
	<li>Most Bosses missing Offering drop information</li>
	<li>Search index missing styling</li>
  </u>
</p>